/* * {
    border: 1px solid silver;
    margin: 10px;
} */

body {
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    height: 90vh;

}
.main, section, aside, footer, nav { /* Временно  */
    border: 1px solid silver;
    margin: 10px;
}
header, main.main, footer {
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

 /* Голова */
header { 
    display: flex column;

    /* min-height: 50px; */
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.head {
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
    /* align-self: stretch; */
    /* flex-grow: 2; */
}
img {
    border: 1px solid silver;

    flex-grow: 0;
}
.caption {
    /* border: 1px solid silver; */
    /* text-align: stretch; */
    /* align-items: stretch; */
    align-self: center;
    flex-grow: 1;
    color: #0079C7;
}

nav {
    /* display: flex; */
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: center;

}
li {
    align-self: center;
    margin: 10px;
}

/* Тело */
.main {   
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
        /* align-items: center; */

    flex-grow: 1;
}
section {
    flex-grow: 3;
}
aside {
    flex-grow: 1;
}

/* Подвал */
footer {  
    min-height: 50px;

    flex-grow: 0;
}